#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/studio.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // LKey 1  | LKey 2  | LKey 3  | LKey 4  | LKey 5  | LKey 6      RKey 1  | RKey 2  | RKey 3  | RKey 4  | RKey 5  | RKey 6
                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT

                // LKey 7  | LKey 8  | LKey 9  | LKey 10 | LKey 11 | LKey 12     RKey 7  | RKey 8  | RKey 9  | RKey 10 | RKey 11 | RKey 12
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT     &kp ENTER

                // LKey 13 | LKey 14 | LKey 15 | LKey 16 | LKey 17 | LKey 18     RKey 13 | RKey 14 | RKey 15 | RKey 16 | RKey 17 | RKey 18
                &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp MINUS  &kp EQUAL

                // LKey 19 |          |          | LKey 20 | LKey 21 | LKey 22     RKey 19 | RKey 20 | RKey 21 |          |          | RKey 22
                &kp LCTRL   &kp LALT   &kp SPACE  &kp TAB
                &kp BSPC    &kp DEL    &kp RALT   &kp RCTRL
            >;
        };
    };
};
